/* -------------------------------------------------------------------------- */
/*                                FILTER start                                */
/* -------------------------------------------------------------------------- */

.filter {
  display: flex;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 8px;
  }

  &__button {
    padding: 6px 22px 6px 22px;
    background-color: $add-bg-color;
    color: $title-color;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: $border-radius;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
      color: $white-text-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &--current {
      background-color: $accent-color;
      color: $white-text-color;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

.filter-wrap {
  margin-bottom: 50px;
}

.work {
  display: flex;
  flex-wrap: wrap;

  &__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  &__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__category {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: $main-text-color;
  }

  &__descr {
    padding: 20px 24px;
    border: 1px solid $border-card-cl;
    border-top: none;
  }
}

/* ------------------------------- FILTER end ------------------------------- */
