/* -------------------------------------------------------------------------- */
/*                               OUR TEAM start                               */
/* -------------------------------------------------------------------------- */

.team__section {
  display: flex;
}

.team__title {
  margin-bottom: 50px;
}

.team {
  display: flex;
  justify-content: space-between;

  &__card {
    background-color: $main-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__descr {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__position {
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
  }
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    border-radius: 50%;
    color: #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social__link:hover &,
    .social__link:focus & {
      fill: $white-text-color;
    }
  }
}

/* ------------------------------ OUR TEAM end ------------------------------ */
