$main-bg-color: #ffffff;
$add-bg-color: #f5f4fa;
$main-text-color: #757575;
$title-color: #212121;
$accent-color: #2196f3;
$white-text-color: #ffffff;
$white-transparent-text-color: rgba(255, 255, 255, 0.6);
$border-radius: 4px;
$footer-bg-color: #2f303a;
$hero-btn-cl: #188ce8;
$black-logo-color: #000000;
$header-underline-cl: #ececec;
$border-card-cl: #eeeeee;
$border-client-cl: #afb1b8;
